body {
  background-color: #2d2d2d;
  color: #ffffff;
}

main {
  margin: 5% auto 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  padding: 12px;
  font-size: 32px;
}

#setting {
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#break-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#session-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2d2d2d;
  font-size: 24px;
  color: #ffffff;
}

#timer {
  margin: 12px;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: solid 1px #ee82ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 48px;
}

#current-session {
  margin-top: 80px;
}

#time-left {
  margin-bottom: 80px;
}